<div class="container">
    <ul class="cb-slideshow">
        <li><span>Image 01</span>
            <div>
                <h3>se·ren·i·ty</h3>
            </div>
        </li>
        <li><span>Image 02</span>
            <div>
                <h3>com·po·sure</h3>
            </div>
        </li>
        <li><span>Image 03</span>
            <div>
                <h3>e·qua·nim·i·ty</h3>
            </div>
        </li>
        <li><span>Image 04</span>
            <div>
                <h3>bal·ance</h3>
            </div>
        </li>
        <li><span>Image 05</span>
            <div>
                <h3>qui·e·tude</h3>
            </div>
        </li>
        <li><span>Image 06</span>
            <div>
                <h3>re·lax·a·tion</h3>
            </div>
        </li>
    </ul>
</div>
<div class="contant">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis natus magni aliquam aliquid numquam amet,
    quam odio praesentium, sed doloremque, quas minima omnis rem! Porro, repellat sunt illo velit aliquam repellendus
    officia non ut quod voluptates hic magnam exercitationem dicta itaque saepe in error sapiente minima accusamus harum
    dolorum obcaecati! Voluptate nisi, unde cupiditate eaque rerum fugit commodi placeat explicabo autem aliquam maiores
    dicta dignissimos cum illum numquam iusto asperiores consequatur facilis consectetur et. Id dicta qui quia praesentium
    inventore eos corrupti delectus, neque doloribus deleniti. Dignissimos perspiciatis voluptates ullam laboriosam fuga
    sit obcaecati quos quidem quas aliquam nostrum beatae soluta provident dolores illo impedit iste deleniti eveniet
    adipisci, architecto quasi nobis. Facere consequatur iste at ea, voluptate eaque in, ut excepturi saepe obcaecati,
    veniam quaerat aliquid tempore neque? Magni accusantium officiis error. Laudantium, voluptatum aliquid ipsam dolorum
    sed at, neque minima, dolore cum magnam ullam iste a cupiditate cumque. Pariatur placeat quia iure numquam eos rem
    sapiente, earum rerum a. At ea expedita saepe ipsam libero qui quasi commodi eius dignissimos atque eaque aliquam
    impedit ipsum aliquid, laboriosam id sit quia rem neque. Harum voluptatibus ex recusandae ducimus, quae dicta sunt
    dolores voluptatem. Delectus incidunt consequuntur sed amet?
</div>