<div id="home" class="container">
  <ul class="cb-slideshow">
    <li><span>Image 01</span>
      <div>
        <h3></h3>
      </div>
    </li>
    <li><span>Image 02</span>
      <div>
        <h3>tri·via</h3>
      </div>
    </li>
    <li><span>Image 03</span>
      <div>
        <h3>practice</h3>
      </div>
    </li>
    <li><span>Image 04</span>
      <div>
        <h3>memo·rise</h3>
      </div>
    </li>
    <li><span>Image 05</span>
      <div>
        <h3>play</h3>
      </div>
    </li>
    <li><span>Image 06</span>
      <div>
        <h3>test</h3>
      </div>
    </li>

  </ul>
</div>