.main-box {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #EC9600;
  z-index: 11;
}

li {
  list-style: none;
}

.nav-link a:hover {
  color: #ba387d;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.container {
  width: 100%;
  margin: auto;
  height: 72px;

}

.navbar {
  width: 95%;
  margin: auto;

}

.nav-logo {
  font-size: 2rem;
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
}

a:hover {
  color: #ba387d;
}

.nav-menu {
  padding: 20px;
}
