<div id="credits">

    <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mb-16">

        <div class="support-team">
            <div class="mat-h3">Contributors</div>
            <div><a target="_blank" href="https://github.com/SatoruG0jo">Mohd. Asif</a></div>
            <div><a target="_blank" href="https://github.com/SatoruG0jo">Nasre Alam</a></div>
            <div><a target="_blank" href="https://github.com/SatoruG0jo">Mohd Rehan Raza</a></div>
            <div><a target="_blank" href="#">Salim Ansari</a></div>
        </div>

        <div class="credits">
            <div class="mat-h3">Credits</div>
            <div><a target="_blank" href="https://angular.io/">Angular</a></div>
            <div><a target="_blank" href="https://material.angular.io/">Angular Material</a></div>
            <div><a target="_blank" href="https://www.freepik.com/">freepik</a></div>
            <div><a target="_blank" href="https://unsplash.com/">Unsplash</a></div>
            <div><a target="_blank" href="https://github.com/codrops">Codrops</a></div>

        </div>

        <div fxFlexAlign="center">
            <div>
                <a mat-raised-button color="primary" target="_blank" href="https://letters.etrivia.app/" target="_blank">Open App</a>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="p-16">
        {{year}} © ETrivia All rights reserved.
    </div>
</div>