<div class="top-head" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="img-box">
    <a href="#home"><img [src]="EtriviaLogo + 'icon.png'"></a>
  </div>

  <div class="nav-links">
    <ul class="codrops-demos" fxLayout="row">



      <li>
        <a href="#intro">Intro</a>
      </li>

      <li>
        <a href="#features">Features</a>
      </li>

      <li>
        <a href="#credits">Credits</a>
      </li>

      <li>
        <a target="_blank" href="https://letters.etrivia.app/">App</a>
      </li>

    </ul>
  </div>
</div>