.app-into {
  padding: 25px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

.app-into div h1 {
  font-weight: 500;
}



#websitelink:hover {
  background-color: var(--deepColor);
  border: 1px solid var(--deepColor);
}

.contant {
  background-color: var(--backgroundColor);
  box-sizing: border-box;
}

.contant h1 {
  font-weight: 700;
  font-size: 2.3rem;
  padding: 20px;
  line-height: initial;
  color: var(--deepColor);
}

.heading-content {
  width: 500px;

}

.heading-content p {

  text-align: justify;
  padding: 25px;
  font-size: 20px;
  color: #999999;
  line-height: initial;

}




@media(max-width:550px) {
  .image-content img {
    width: 400px;
  }
}

@media(max-width:495px) {
  .image-content img {
    width: 400px;
  }
}

@media(max-width:460px) {

  .image-content img {
    width: 400px;
  }
}
