<div id="intro" class="container pt-40">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-h1">Introducing effortless and effective way of early Learning</div>
  </div>

  <div class="pt-16" fxLayout="row wrap" fxLayoutAlign="space-around stretch">

    <div class="heading-content">

      <p>We have created this app to make learning letters easy and fun.</p>
      <p>Listen to learn then practice and test.
        Not just that you could record your voices to personalize for your child.</p>


      <p>Letters and Number have been added for various langauges.</p>

      <p>Monitor your progress </p>


      <p>No Signup ! No login ! Just get started for free !</p>




    </div>

    <div class="image-content" fxLayout="column" fxLayoutAlign="end none">
      <img src="/assets/images/11.png" width="100%" alt="Childen playing with blocks">
    </div>
  </div>


</div>