.content {
  background-color: var(--backgroundColor);
}

.content .mat-h1 {
  padding: 0px 25px;
  color: var(--deepColor);
}

.heading-content {
  max-width: 700px;
}

.heading-content p {
  text-align: justify;
  padding: 15px;
  font-size: 20px;
  color: #999999;
  line-height: initial;

}

// .image-content img {
//   width: 100%;
// }