<div class="container">
  <div class="app-into">
    <div style="width: 100%;">
      <h1>Join us to make early learning easy and fun activity for your child. <a
          href="https://letters.etrivia.app/lang-selection" id="websitelink" target="_blank">Visit now</a></h1>
    </div>
  </div>
</div>

<div class="contant">
  <div class="heading-content">
    <h1>Introducing Effective and Effordless Way of Learning</h1>
    <p>To make your kid learning fun in your own voice and guidance. So, here we brought you a tool that will do for
      you,
      In our tool we made it very easy for you, we offering you to teach your kids with our app which is made for early
      leaning.
      In our app we offer you four languages Arabic, English, Hindi and Urdu with very basic learning in your own voice
      which is very familiar to child and that will help kids to learn faster with fun.
      In our app you can record multiple voices for your child for all alphabets which is very easy to do.
      You can do it in just few couples of taps easy to use, edit and save as many as you want.
      Were your child can listen and learn the correct pronunciation of every alphabet in all languages in the way you
      want your kid to learn.
      <!-- In our app we have practice section where kids can practice their learning to check there understanding.
      We have games section which make our app more entertaining where kids can go and test their ability in the form of
      game.
      We have three kind of game which will improve kids basic and essential senses Learning, Listening and
      understanding. -->

    </p>
  </div>

  <div class="image-content">
    <img src="/assets/Images/11.png" alt="Child playin with blocks">
  </div>
</div>
