<div class="container">

  <div class="content" fxLayout="row wrap" fxLayoutAlign="space-around stretch">

    <div class="heading-content">
      <h1>Introducing Effective and Effordless Way of Early Learning</h1>
      <p>To make your kid learning fun in your own voice and guidance. So, here we brought you a tool that will do for
        you,
        In our tool we made it very easy for you, we offering you to teach your kids with our app which is made for
        early
        leaning.
        In our app we offer you four languages Arabic, English, Hindi and Urdu with very basic learning in your own
        voice
        which is very familiar to child and that will help kids to learn faster with fun.
        In our app you can record multiple voices for your child for all alphabets which is very easy to do.
        You can do it in just few couples of taps easy to use, edit and save as many as you want.
        Were your child can listen and learn the correct pronunciation of every alphabet in all languages in the way you
        want your kid to learn.</p>
    </div>

    <div class="image-content" fxLayout="column" fxLayoutAlign="end none">
      <img src="/assets/Images/11.png" alt="Child playin with blocks">
    </div>
  </div>


</div>