.icon-box {
  font-size: 35px;
  margin-top: var(--s-gap);

  mat-icon {
    font-size: 1.1em;
    width: fit-content;
    height: fit-content;
  }
}

@media (max-width:640px) {
  .icon-box {
    font-size: 24px;
  }
}