<div class="container">
  <div class="head">
    <h1>Aim to begin Learning with Fun</h1>
  </div>

  <div class="content" fxLayout="raw Wrap" fxLayoutAlign="space-around stretch">

    <div class="icons-box">

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn</p>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn</p>
      </div>

    </div>

    <div class="icons-box">

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>

    </div>

  </div>


</div>
