.head h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.3rem;
  padding: 20px;
  line-height: initial;
  color: var(--deepColor);
}


.content {
  background-image: url(/assets/images/15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80vh;
}


.icons-box mat-icon {
  color: var(--deepColor);
  font-size: 55px;
  line-height: 0;
}

.icons-box p {
  font-size: 1.30rem;
  margin-left: 50px;
  font-weight: 500;
}

// .icons-box div {
//   padding: 80px
// }
