<div class="container">
  <div class="head">
    <h1>Features</h1>
  </div>


  <div class="content">
    <div class="icons-box">
      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>

      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn</p>
      </div>

      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn</p>
      </div>

    </div>

    <div>
      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>
      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>
      <div class="icons">
        <mat-icon>speaker_phone</mat-icon>
        <p>Listen and learn </p>
      </div>
    </div>
  </div>



</div>
