.head h1 {
  font-size: 3rem;
  line-height: initial;
  color: var(--deepColor);
  padding: 40px 0px 25px 0px;
  text-align: center;
  font-weight: bold;
}


.content {
  background-image: url(/assets/Images/15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.icons-box mat-icon {
  color: var(--deepColor);
  font-size: 55px;
  line-height: 0;
}

.icons-box p {
  font-size: 1.30rem;
  margin-left: 50px;
  font-weight: 500;
}

.icons-box div {
  padding: 80px
}
