<div class="container">
  <div style="width: 100%;">
    <h1>Features</h1>
  </div>
</div>


<div class="content">
  <div class="icon">
    <div>
      <span><i class="gg-volume"></i></span>
      <span><i class="gg-volume"></i></span>
    </div>
    <div>
      <p>Voice Personalization</p>
      <p>Voice Personalization</p>
    </div>
  </div>



  <div style="border:1px solid black;">
    <p><span>game</span>icon</p>
    <p><span>game</span>icon</p>
    <p><span>game</span>icon</p>
  </div>
</div>
