<div class="container">
  <h1>Our Features and Services</h1>
  <div class="content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50">
    <div class="box-1">
      <img src="/assets/Images/20.png" alt="girl image">
      <h4>Listen and learn</h4>
      <p>sahgdfhhadslfhiaushifsihfiuhsidkfbghkbh</p>

    </div>
    <div class="box-1">
      <img src="/assets/Images/opp.jpg" alt="girl image">
      <h4>Practice playground</h4>
      <p>sahgdfhhadslfhiaushifsihfiuhsidkfbghkbh</p>
    </div>
    <div class="box-1"> <img src="/assets/Images/opps.jpg" alt="girl image">
      <h4>Game playground</h4>
      <p>sahgdfhhadslfhiaushifsihfiuhsidjnkdjhlf</p>
    </div>
  </div>

</div>
