<div id="features" class="container pb-30">
  <div class="heading mat-h1">Our Features and Services</div>
  <div class="content" fxLayout="column wrap" fxLayoutAlign="center center">

    <div class="box-1" fxLayout="row wrap" fxLayoutAlign="center stretch">

      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/20.png" alt="girl image">
        <h4>Listen and learn</h4>
        <p>Learning, we made easy and fun activity for your child. We have brought you a platform which offer kids to learning early basic understanding of letters.</p>
      </div>


      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/26.jpg" alt="girl image">
        <h4>Practice Playground</h4>
        <p> Kids learn best when they have fun. That's why our practice playgrounds are designed to be fun and interactive.</p>
      </div>


      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/28.jpg" alt="girl image">
        <h4>Multiple Language</h4>
        <p>
          Our platform offers you four languages Arabic, English, Hindi and Urdu. Where your child can learn basic pronunciation of alphabets, numbers and vowels of the languages from the best speakers</p>
      </div>
    </div>


    <div class="box-2" fxLayout="row wrap" fxLayoutAlign="center stretch">

      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/14.jpg" alt="girl image">
        <h4>Voice Personalization</h4>
        <p>Our platform offers you voice personalization feature. Where you can add your own voice for teaching your child.
        </p>
      </div>


      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/24.jpg" alt="girl image">
        <h4>Quiz 's & Games</h4>
        <p>Our platform is designed to use simple and effective games and quize's that will help kids to enhnace their learning and remembrance ability</p>
      </div>


      <div class="description-img" fxLayout="column" fxLayoutAlign="start center">
        <img src="/assets/images/opps.jpg" alt="girl image">
        <h4>Kids Friedly UI</h4>
        <p>sahgdfhhadsdnfskjla</p>
      </div>

    </div>


  </div>

</div>