.container {
  background-color: var(--primaryColor);
}

.container h1 {
  font-size: 3rem;
  line-height: initial;
  color: var(--deepColor);
  padding: 40px 0px 25px 0px;
  text-align: center;
  font-weight: bold;
}


.description-img {
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
}

.description-img img {
  width: 200px;
  height: 200px;
}

.description-img p {
  word-break: break-all;
  text-align: center;
  ;
}
