.container {
  background-color: var(--primaryColor);
}

.container h1 {
  font-size: 3rem;
  line-height: initial;
  color: var(--deepColor);
  padding: 40px 0px 25px 0px;
  text-align: center;
  font-weight: bold;
}


.description-img {
  width: 250px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
  margin: 25px 25px 0px 0px;
}

.description-img img {
  width: 200px;
  height: 200px;
}

.description-img p {
  padding: 5px;
  word-break: break-all;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-block-start: 10px;
  margin-block-end: 1em;
}

.description-img h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}