<div id="features" class="container pb-30">
  <div class="heading mat-h1">Our Features and Services</div>
  <div class="content" fxLayout="column wrap" fxLayoutAlign="center center">
    <div class="box-1" fxLayout="row wrap" fxLayoutAlign="center stretch">
      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/20.png" alt="girl image" />
        <h4>Listen and learn</h4>
        <p>
          Learning, we made easy and fun activity for your child. We have
          brought you a platform which offer kids to learning early basic
          understanding of letters.
        </p>
      </div>

      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/26.jpg" alt="girl image" />
        <h4>Practice Playground</h4>
        <p>
          Fun, interactive playgrounds for optimal learning. Learning while
          playing promotes retention and active engagement.
        </p>
      </div>

      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/28.jpg" alt="girl image" />
        <h4>Multiple Language</h4>
        <p>
          Learn four languages - Arabic, English, Hindi, Urdu - with top
          speakers. Teach your child alphabets, numbers, and vowels
          pronunciation basics.
        </p>
      </div>
    </div>

    <div class="box-2" fxLayout="row wrap" fxLayoutAlign="center stretch">
      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/14.jpg" alt="girl image" />
        <h4>Voice Personalization</h4>
        <p>
          Our platform offers you voice personalization feature. Where you can
          add your own voice for teaching your child.
        </p>
      </div>

      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/24.jpg" alt="girl image" />
        <h4>Quiz 's & Games</h4>
        <p>
          Our platform is designed to use simple and effective games and quize's
          that will help kids to enhnace their learning and remembrance ability
        </p>
      </div>

      <div
        class="description-img"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <img src="/assets/Images/opps.jpg" alt="girl image" />
        <h4>Kids Friedly UI</h4>
        <p>
          A kids-friendly UI is an interface designed for children with simple
          features, bright colors, and clear labels to ensure ease of use and
          safety.
        </p>
      </div>
    </div>
  </div>
</div>
