@use "styles/spaces";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "app-main";
  position: relative;
}

:root {
  --slideFont: 'BebasNeueRegular''Arial Narrow', Arial, sans-serif;
  --slideTextColor: rgba(169, 3, 41, 0.8);
  --backgroundColor: #f8f6e4;
  --offWhiteColor: #fafbfc;
  --primaryColor: #62ecc1;
  --deepColor: #222589;
  --headBackgroundColor: rgb(26, 26, 60, 0.1);
  --s-gap: 16px;
}


@font-face {
  font-family: "app-main";
  src: url(/assets/font/comic.ttf);
  font-display: fallback;
}