body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

:root {
  --slideFont: 'BebasNeueRegular''Arial Narrow', Arial, sans-serif;
  --slideTextColor: rgba(169, 3, 41, 0.8);
  --backgroundColor: #f8f6e4;
  --primaryColor: #62ecc1;
  --deepColor: #222589;
}


@import "~css.gg/icons/css/volume.css";
